@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111827;
  /* gray-900 */
  --card-bg: #ffffff;
  --color-background: #ffffff;
  --color-foreground: #111827;
  --color-card: #ffffff;
  --color-border: #e5e7eb;
  --color-secondary: #4b5563;
  --color-accent: #111827;

  --font-inter: "Inter", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #030712;
    --color-foreground: #f9fafb;
    --color-card: #030712;
    --color-border: #1f2937;
    --color-secondary: #9ca3af;
    --color-accent: #f9fafb;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-inter);
  transition: background-color 0.3s ease, color 0.3s ease;
}

section {
  transition: background-color 0.3s ease, color 0.3s ease;
}